.achives {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 32px;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    grid-template-columns: 1fr 1fr minmax(300px, auto);
    gap: 6px 41px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 366px;
    gap: 38px 42px;
  }
}

.achives__item {
  color: $color-black;
  display: block;
  text-align: center;
}

.achives__item-key {
  display: inline-block;
  color: $color-dark-grey-100;
  background-color: $color-grey-50;
  font-size: 12px;
  line-height: 1;

  @media (min-width: $tablet-min-width) {
    font-size: 14px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 14px;
    background-color: $color-grey-100;
  }
}

.achives__item-value {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.achives__item--bordered dd {
  border: 1px solid $color-grey-300;
  border-radius: 3px;
  padding: 15px 10px 15px;

  @media (min-width: $tablet-min-width) {
    padding: 14px 10px 18px;
  }
}

.achives__item--bordered dt {
  transform: translateY(-12px);
  padding: 0 2px;
  margin: 3px 21px 0 19px;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-min-width) {
    padding: 0 8px;
    margin: 0 9px 0 7px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 14px;
    padding: 0 7px;
  }
}

.achives__item--simple {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    grid-column: initial;
    justify-self: end;
    display: grid;
    padding-top: 8px;
    align-content: flex-start;
    justify-items: flex-end;
    font-size: 20px;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.achives__item--simple dt {
  margin-right: 3px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  @media (min-width: $tablet-min-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-min-width) {
    justify-self: start;
  }
}

.achives__item--simple dd {
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  @media (min-width: $desktop-min-width) {
    margin-left: 14px;
  }
}
