.additional-card {
  display: grid;
  gap: 0 80px;
  align-items: baseline;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 16px 38px 28px;
    gap: 7px 30px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    gap: 0;
    padding: 16.3px 0;
  }
}

.additional-card__title {
  margin: 12px 0 0;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    grid-column: 1 / span 2;
    margin: 0;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1;
  }
}

.additional-card__packaging {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  align-items: center;

  font-size: 14px;
  line-height: 1;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    grid-column: -3 / -1;
    justify-content: end;
  }

  @media (min-width: $desktop-min-width) {
    display: contents;
  }
}

.additional-card__package {
  @media (min-width: $desktop-min-width) {
    grid-column: 3 / 4;
    justify-self: start;
  }
}

.additional-card__price {
  @media (min-width: $tablet-min-width) {
    flex: 0 0 92px;
    text-align: end;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 4 / 5;
    justify-self: start;
  }
}

.additional-card__button {
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: -2px;

  @media (min-width: $tablet-min-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: -1 / -2;
  }
}
