.additional-card {
  display: grid;
  gap: 0 80px;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    gap: 0;
  }
}

.additional-card__title {
  margin: 12px 0 0;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    grid-column: 1 / span 2;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 1;
  }
}

.additional-card__packaging {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: -3 / -1;
  }

  @media (min-width: $desktop-min-width) {
    display: contents;
  }
}

.additional-card__package {
  @media (min-width: $tablet-min-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 3 / 4;
    justify-self: start;
  }
}

.additional-card__price {
  @media (min-width: $tablet-min-width) {
    justify-self: center;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: 4 / 5;
    justify-self: start;
  }
}

.additional-card__button {
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: -2px;

  @media (min-width: $tablet-min-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: -1 / -2;
  }
}
