.additional-goods {
  padding: 0 20px;

  @media (min-width: $tablet-min-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
    padding: 0;
    margin-bottom: 10px;
  }
}

.additional-goods__heading {
  grid-column: 1/-1;
  max-width: 100%;
  margin-top: 26px;
  margin-bottom: 34px;

  @media (min-width: $tablet-min-width) {
    margin-left: -2px;
    padding-right: 34px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: -40px;
    margin-bottom: 80px;
  }
}

.additional-goods__wrapper {
  grid-column: 1/-2;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 70px;
  }
}

.additional-goods__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 38px;

  @media (min-width: $desktop-min-width) {
    margin: 0;
  }
}

.additional-goods__item {
  border-top: 1px solid $color-grey-200;
  padding-bottom: 19.5px;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 0;
    border-left: 1px solid $color-grey-200;
    border-right: 1px solid $color-grey-200;
  }

  @media (min-width: $desktop-min-width) {
    border-left: none;
    border-right: none;
  }
}

.additional-goods__item:last-child {
  border-bottom: 1px solid $color-grey-200;
}
