.additional-goods {
  padding: 0 20px;

  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.additional-goods__heading {
  grid-column: 1/-1;
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 34px;
}

.additional-goods__wrapper {
  grid-column: 1/-2;
}

.additional-goods__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 38px;
}

.additional-goods__item {
  border-top: 1px solid $color-grey-200;
  padding-bottom: 19.5px;
}

.additional-goods__item + .additional-goods__item {
  border: 1px solid $color-grey-200;
  border-left: none;
  border-right: none;
}
