.advertisement {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  padding: 26px 58px;
  padding-top: 56px;
  background-color: $color-cat-overley;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/backgrounds/gift-photo-mobile.jpg");
  margin-bottom: 34px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/gift-photo-mobile@2x.jpg");
  }

  @media (min-resolution: 3dppx) {
    background-image: url("../img/backgrounds/gift-photo-mobile@3x.jpg");
  }

  &::before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 80px;
    background-image: url("../img/icons/icon_gift.svg");
    margin-bottom: 18%;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 48px;
    }
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    padding: 55px 78px 53px;
    margin-bottom: 75px;
    background-image: url("../../img/backgrounds/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/gift-photo-tablet@2x.jpg");
    }

    @media (min-resolution: 3dppx) {
      background-image: url("../img/backgrounds/gift-photo-tablet@3x.jpg");
    }
  }

  @media (min-width: $desktop-min-width) {
    display: block;
    text-align: center;
    width: 245px;
    padding: 55px 30px 42px;
    background-image: url("../../img/backgrounds/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/gift-photo-desktop@2x.jpg");
    }

    @media (min-resolution: 3dppx) {
      background-image: url("../img/backgrounds/gift-photo-desktop@3x.jpg");
    }
  }
}

.advertisement__text {
  color: $color-white;
  flex: 0 0 161px;
  margin-left: auto;
  margin-right: 46px;
  text-align: left;

  @media (min-width: $desktop-min-width) {
    text-align: center;
    margin: 0;
  }
}
