.button {
  display: block;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  border: none;
  cursor: pointer;
  color: $color-dark-grey-700;
  padding: 17.5px 27px;
}

.button--success {
  color: $color-white;
  background-color: $color-green-100;
  padding: 13px;
}

.button--neutral {
  color: $color-dark-grey-100;
  background-color: $color-grey-100;
  padding: 12px;
}

.button--submit {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  width: 100%;

  @media (min-width: $tablet-min-width) {
    width: 282px;
  }

  @media (min-width: $desktop-min-width) {
    width: 568px;
  }
}

.button--arrow {
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  position: relative;
  padding-right: 12px;
  color: $color-black;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    right: -23px;
    width: 19px;
    height: 2px;
    background-color: $color-black;

    @media (min-width: $tablet-min-width) {
      right: -33px;
    }

    @media (min-width: $desktop-min-width) {
      right: -35px;
    }
  }

  &::after {
    right: -34px;
    border: 6px solid transparent;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-color: $color-black;

    @media (min-width: $tablet-min-width) {
      right: -44px;
    }

    @media (min-width: $desktop-min-width) {
      right: -46px;
    }
  }
}
