.card {
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 20px;
  height: 100%;
}

.card--others {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-min-width) {
    border: 1px solid $color-grey-200;
  }
}

.card__link-image {
  grid-column: 1;
  display: block;
  height: 124px;
  width: 140px;
}

.card__link-image--others {
  height: 40px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%23D3D3D3'%0Axmlns='http://www.w3.org/2000/svg' %3E%3Cpolygon points='0,14 0,15 30,15 30,14'/%3E%3Cpolygon points='14,0 15,0 15,30 14,30'/%3E /%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  margin-bottom: 18px;
}

.card__description {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.card__button {
  grid-column: 1/-1;
  width: 100%;
  align-self: flex-end;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 4px;
}

.card__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  justify-content: start;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.card__title-link {
  text-decoration: none;
  color: $color-dark-grey-700;
}

.card__title--others {
  margin: 0 auto 10px;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 1.1;
  }
}

.card__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  margin: 0 auto 20px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 1.12;
  }
}

.card__characteristics {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
}

.card__characteristics-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 138px;

  dd {
    margin-left: 0;
  }

  @media (min-width: $tablet-min-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: $color-grey-300;
    }
  }
}
