.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  height: 100%;

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr;
    text-align: center;
    background-image: linear-gradient(to top, $color-grey-100 82.3%, transparent 82.3%);
  }
}

.card--others {
  grid-template-columns: 1fr;

  @media (min-width: $tablet-min-width) {
    border: 1px solid $color-grey-200;
    background-image: none;
  }
}

.card__link-image {
  position: relative;
  grid-column: 1;
  display: block;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-left: auto;
    padding-bottom: 30vw;
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 30px;
  }
}

.card__image {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    object-fit: contain;
  }

  @media (min-width: $tablet-min-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-min-width) {
    width: 172px;
    height: 196px;
  }
}

.card__link-plus {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' viewBox='0 0 30 30' fill='%23D3D3D3'%0Axmlns='http://www.w3.org/2000/svg' %3E%3Cpolygon points='0,14 0,15 30,15 30,14'/%3E%3Cpolygon points='14,0 15,0 15,30 14,30'/%3E /%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  margin-bottom: 18px;
}

.card__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }
}

.card__button {
  grid-column: 1/-1;
  width: 100%;
  align-self: flex-end;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 3px;

  @media (min-width: $tablet-min-width) {
    width: 87.5%;
    margin: 0 auto 19px;
  }
}

.card__title {
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  max-width: 76px;

  @media (min-width: $tablet-min-width) {
    max-width: 135px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
}

.card__title-link {
  text-decoration: none;
  color: $color-dark-grey-700;
}

.card__title--others {
  margin: 0 auto 10px;
  max-width: none;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 1.1;
  }
}

.card__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  margin: 0 auto 20px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 1.12;
  }
}

.card__characteristics {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;

  @media (min-width: $tablet-min-width) {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 23px;
  }
}

.card__characteristics-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 138px;

  dd {
    margin-left: 0;
  }

  @media (min-width: $tablet-min-width) {
    margin: 0 18px;
    margin-bottom: 17px;
    max-width: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 1px;
      background-color: $color-grey-300;
    }
  }
}
