.catalog__title {
  color: $color-black;
  padding: 0 20px;
  margin: 27px 0 40px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  grid-column: 1/-1;
  margin-bottom: 24px;

  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.catalog__item {
  border-top: 1px solid $color-grey-200;
}

.catalog__item + .catalog__item {
  border-bottom: 1px solid $color-grey-200;
}
