.contacts__info-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  flex: 0 0 140px;

  @media (min-width: $tablet-min-width) {
    flex: 0 0 171px;
  }
}

.contacts__address {
  flex: 0 0 140px;

  @media (min-width: $tablet-min-width) {
    flex: 0 0 160px;
    text-align: right;
  }

  @media (min-width: $tablet-min-width) {
    text-align: left;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  object-fit: cover;
  border: none;
}
