.contacts {
  position: relative;
}

.contacts__info-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;

  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: 163px 155px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-107%, -50%);
    z-index: 2;
    width: 570px;
    padding: 50px;
  }
}

.contacts__title {
  flex: 0 0 140px;

  @media (min-width: $tablet-min-width) {
    flex: 0 0 171px;
  }
}

.contacts__address {
  flex: 0 0 140px;

  @media (min-width: $tablet-min-width) {
    flex: 0 0 160px;
    text-align: right;
  }

  @media (min-width: $desktop-min-width) {
    text-align: left;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  object-fit: cover;
  border: none;
}
