.fieldset__heading {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0;
  white-space: normal;
}

.fieldset__heading span {
  background-color: $color-white;
  flex: 0 1 auto;
  width: min-content;

  @media (min-width: $tablet-min-width) {
    width: auto;
  }
}

.fieldset__heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100vw;
  height: 2px;
  background-color: $color-green-100;
  z-index: -1;

  @media (min-width: $tablet-min-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fieldset__label {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 13px;
}

.fieldset__label svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fieldset__input-chars {
  flex: 1 1 auto;
  min-height: 45px;
  margin-left: 13px;
  padding-left: 10px;
  padding-right: 30px;
}

.fieldset__textarea {
  width: 100%;
  height: 150px;
  border: 1px solid $color-grey-150;
  resize: none;
}

.fieldset__textarea::placeholder {
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  padding: 10px 19px;
}

.fieldset--checkboxes {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

.fieldset--horizontal {
  @media (min-width: $tablet-min-width) {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    grid-column: 1/-1;
  }
}
