.fieldset__label {
  display: flex;
  position: relative;
  align-items: center;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fieldset__label + .fieldset__label {
  margin-top: 15px;
}

.fieldset__label svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.fieldset__input-chars {
  flex: 1 1 auto;
  min-height: 45px;
  margin-left: 14px;
  padding-left: 15px;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  border: 1px solid $color-grey-150;

  &::placeholder {
    color: $color-dark-grey-100;
  }
}

.fieldset__textarea {
  width: 100%;
  height: 150px;
  border: 1px solid $color-grey-150;
  resize: none;
}

.fieldset__textarea::placeholder {
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  padding: 10px 19px;
}

.fieldset--checkboxes {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 60px;
  }

  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 40px;
  }
}

.fieldset--horizontal {
  @media (min-width: $tablet-min-width) {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    grid-column: 1/-1;
  }
}
