.form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-min-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__cat-program {
  border: 1px solid $color-grey-150;
  border-left: none;
  border-right: none;

  @media (min-width: $tablet-min-width) {
    border: 1px solid $color-grey-150;
    border-radius: 0;
  }
}

.form__owner-contacts {
  grid-column: 1/-1;
}

.form__comments {
  grid-column: 1/-1;
}

.form__additionally {
  grid-column: 1/-1;
}

.form__subtext {
  text-align: center;
}
