.form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-min-width) {
    gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.form__cat-program {
  border: 1px solid $color-grey-150;
  border-left: none;
  border-right: none;
  margin-bottom: 27px;

  @media (min-width: $tablet-min-width) {
    border: 1px solid $color-grey-150;
    border-radius: 0;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 69px;
  }
}

.form__owner-contacts {
  grid-column: 1/-1;
}

.form__comments {
  grid-column: 1/-1;
}

.form__additionally {
  grid-column: 1/-1;
}
