.heading-decored {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $color-black;
  background: $color-white;
  padding-right: 23px;
  max-width: 204px;
  width: fit-content;
  margin: 0;
  margin-bottom: 34px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 100vw;
    height: 2px;
    background-color: $color-green-100;
    z-index: -1;
  }
}
