.image-mixer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-mixer__photo-cutter {
  position: relative;
  width: 312px;
  height: 232px;
}

.image-mixer__photo {
  width: 312px;
  height: 232px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-mixer__photo--before {
  clip: rect(auto, 156px, auto, auto);
}

.image-mixer__photo--after {
  clip: rect(auto, auto, auto, 156px);
}

.image-mixer__photo--disabled {
  display: none;
}
