.instructions {
  padding: 0 20px;
  margin-bottom: 27px;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding: 0 30px;

    &::after {
      content: "";
      display: inline-block;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: -7px;
      height: 1px;
      width: 100%;
      background-color: $color-grey-130;
    }
  }

  @media (min-width: $desktop-min-width) {
    padding: 0;
  }
}

.instructions__title {
  margin-top: 14px;
  margin-bottom: 38px;

  @media (min-width: $tablet-min-width) {
    margin-top: 29px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 72px;
  }
}

.instructions__list {
  list-style: none;
  padding: 0;
  counter-reset: num-counter;

  @media (min-width: $tablet-min-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: 324px 324px;
    gap: 37px 60px;
    grid-auto-rows: minmax(280px, auto);
    margin-bottom: 0;
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 80px;
  }
}

.instructions__item {
  position: relative;
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $color-green-100;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-min-width) {
    flex-direction: column;

    &::after {
      counter-increment: num-counter;
      content: counter(num-counter);
      position: absolute;
      left: 119px;
      top: -40px;
      display: block;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      color: $color-grey-100;
      z-index: -1;
    }

    &::before {
      margin-bottom: 30px;
      width: 80px;
      height: 80px;
    }

    &:nth-child(even)::after {
      left: 112px;
    }

    &:nth-child(3)::after {
      left: 114px;
    }
  }
}

.instructions__text {
  margin: 2px 0 2px 20px;

  @media (min-width: $tablet-min-width) {
    max-width: 246px;
    margin-left: 0;
  }
}

.instructions__item--leaf {
  &::before {
    background-image: url("../img/icons/icon_leaf.svg");
  }
}

.instructions__item--tub {
  &::before {
    background-image: url("../img/icons/icon_tub.svg");
  }
}

.instructions__item--eat {
  &::before {
    background-image: url("../img/icons/icon_eat.svg");
  }
}

.instructions__item--alarm {
  &::before {
    background-image: url("../img/icons/icon_alarm.svg");
  }
}
