.instructions {
  padding-top: 10px;
}

.instructions__list {
  list-style: none;
  padding: 0;
  counter-reset: num-counter;

  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(280px, auto);
  }

  @media (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.instructions__item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $color-green-100;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-min-width) {
    flex-direction: column;

    &::after {
      counter-increment: num-counter;
      content: counter(num-counter);
      position: absolute;
      left: 119px;
      top: -40px;
      display: block;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      color: $color-grey-100;
      z-index: -1;
    }

    &::before {
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }
}

.instructions__text {
  margin: 0;
  padding: 5px 20px;

  @media (min-width: $tablet-min-width) {
    max-width: 241px;
    padding-left: 0;
  }
}

.instructions__item--leaf {
  &::before {
    background-image: url("../img/icons/icon_leaf.svg");
  }
}

.instructions__item--tub {
  &::before {
    background-image: url("../img/icons/icon_tub.svg");
  }
}

.instructions__item--eat {
  &::before {
    background-image: url("../img/icons/icon_eat.svg");
  }
}

.instructions__item--alarm {
  &::before {
    background-image: url("../img/icons/icon_alarm.svg");
  }
}
