.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-min-width) {
    margin-left: 12px;
    margin-right: 0;
    flex: 104px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: 7px;
    margin-top: 2px;
    flex: 140px;
  }
}

.logo--icon {
  &::before {
    content: "";
    width: 39px;
    height: 38px;
    padding: 30px 0;
    background-image: url("../img/logos/logo-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-min-width) {
      background-image: url("../img/logos/logo-tablet.svg");
      width: 61px;
      height: 50px;
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-min-width) {
      width: 103px;
      height: 59px;
      background-image: url("../img/logos/logo-desktop.svg");
    }
  }
}
