.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo__image {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-min-width) {
    margin-left: 12px;
    margin-right: 0;
    flex: 104px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: 7px;
    margin-top: 2px;
    flex: 140px;
  }
}

.logo__cat {
  width: 39px;
  height: 38px;

  @media (min-width: $tablet-min-width) {
    width: 62px;
    height: 50px;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-min-width) {
    width: 103px;
    height: 59px;
  }
}
