.promo {
  color: $color-white;
  position: relative;
  padding-top: 1px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-align: center;

  @media (min-width: $tablet-min-width) {
    color: $color-black;
    text-align: left;
    min-height: 885px;
    padding-left: 87px;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 0;
    min-height: 696px;
  }
}

.promo__title {
  max-width: 420px;
  margin: 25px auto 41px auto;

  @media (min-width: $tablet-min-width) {
    max-width: 600px;
    margin: 64px auto 41px 0;
  }

  @media (min-width: $desktop-min-width) {
    margin: 223px auto 40px 0;
  }
}

.promo__image-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100% 302px, 320px 300px, 100% 302px;
  background-image: linear-gradient($color-cat-overley, $color-cat-overley),
    url("../../img/backgrounds/index-background-mobile.jpg"),
    linear-gradient($color-cat-background, $color-cat-background);
  background-position: center top;

  @media (min-width: $tablet-min-width) {
    background-image: none;
  }

  @media (min-width: $desktop-min-width) {
    width: 50%;
    height: 694px;
    background-position: right top;
    background-size: 100% 720px, 694px 720px, 100% 720px;
    background-image: linear-gradient($color-cat-overley, $color-cat-overley),
      url("../../img/backgrounds/index-background-desktop.jpg"),
      linear-gradient($color-cat-desktop-bg, $color-cat-desktop-bg);
  }
}

.promo__can-image {
  @media (min-width: $tablet-min-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 709px;
    height: 609px;
    object-fit: contain;
    z-index: -1;
  }

  @media (min-width: $desktop-min-width) {
    bottom: initial;
    position: absolute;
    left: 50%;
    transform: translateX(-29.5%);
    top: 141px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  @media (min-width: $tablet-min-width) {
    display: inline-block;
  }
}
