.questionnaire__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  margin: 27px 0 37px;
  color: $color-black;

  @media (min-width: $tablet-min-width) {
    font-size: 60px;
    margin: 64px 0 54px;
  }

  @media (min-width: $desktop-min-width) {
    margin: 73px 0 56px;
  }
}

.questionnaire__slogan {
  font-size: 14px;
  line-height: 1.29;
  color: $color-black;
  text-transform: uppercase;
  max-width: 325px;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
