.site-navigation {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    min-height: 110px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-min-width) {
    min-height: 168px;
    padding: 0;
  }
}

.site-navigation__top-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max-width) {
    padding: 0 20px 11px;
  }

  @media (min-width: $desktop-min-width) {
    padding: 0;
  }
}

.site-navigation__logo {
  flex-grow: 1;

  @media (min-width: $tablet-min-width) {
    flex-grow: 0;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: -8px;
    margin-bottom: 0;
  }
}

.site-navigation__button-burger {
  width: 24px;
  height: 17.5px;
}

.site-navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;

  // .site-navigation__list--active

  &--active {
    display: block;
  }

  @media (min-width: $tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 530px;
    align-items: center;
    flex: 0 0 460px;
  }

  @media (min-width: $desktop-min-width) {
    flex: 0 0 500px;
    max-width: 700px;
    margin-right: -10px;
  }
}

.site-navigation__item {
  text-align: center;
  padding: 21.5px 20px;

  @media (max-width: $mobile-max-width) {
    border-top: 1px solid $color-grey-130;

    &:last-child {
      border-bottom: 1px solid $color-grey-130;
    }
  }

  @media (min-width: $tablet-min-width) {
    padding: 10px;
  }
}

.site-navigation__link {
  color: $color-black;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-min-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.site-navigation__link--current {
  @media (min-width: $tablet-min-width) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      height: 2px;
      background-color: $color-green-100;
    }
  }

  @media (min-width: $tablet-min-width) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      height: 2px;
      background-color: $color-white;
    }
  }
}

.site-navigation--index .site-navigation__link {
  @media (min-width: $desktop-min-width) {
    color: $color-white;
  }
}

.site-navigation--index {
  @media (min-width: $desktop-min-width) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}
