.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max-width) {
    padding: 21px 0 17px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $color-grey-170;
    border-bottom: 1px solid $color-grey-170;
  }

  @media (min-width: $tablet-min-width) {
    justify-content: center;
  }
}

.socials__item {
  width: 30px;
  text-align: center;
  margin: 0 12px;

  @media (min-width: $tablet-min-width) {
    margin: 0 10px;
  }
}

.socials__item--fb {
  margin-left: 8px;
  margin-right: 14px;
}

.socials__link svg {
  @media (min-width: $tablet-min-width) {
    transform: scale(1.39);
  }
}
