$color-green-100: #68b738;
$color-green-200: #5eaa2f;
$color-grey-100: #f2f2f2;
$color-grey-150: #e7e7e7;
$color-grey-200: #ebebeb;
$color-grey-300: #cdcdcd;
$color-grey-500: #666666;
$color-dark-grey-100: #444444;
$color-dark-grey-700: #222222;
$color-black: #000000;
$color-black-03: hex(#bababa, 0.3);
$color-status-error: #ff8282;
